.stock-in-form{
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  text-align: center;
  width:850px !important;
}

.stock-in-form div:nth-child(4){
    grid-row: 2;
    grid-column: 1 / 4;
    align-self: center;

}

.stock-in-form>div{
  height: 70px !important;
}

.add-item-grid-form{
    display: grid;
    margin: 30px 20px !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
  }


.modal-button{
    margin-right: 10px;
}


.add-item-grid-form>div{
  height: 80px !important;
}
.button-div{
  float: right !important;
}

.purchase-info-box{
  height: 120px; 
  width: 100%; 
  display: 'flex'; 
  flex-direction: 'column';
  border: solid;
  border-radius: 10px;
  padding: 10px;
}
.purchase-info-box>span{
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
}

.purchase-info-box>span>div:first-child{
  display: flex;
  width: 120px !important;
}