
.category-actions{
    width: 550px;
    display: grid !important;
    grid-template-columns: auto 70px;
    justify-content: space-between;
    align-content: space-around;
    grid-row-gap: 20px;
    border: 1px solid #153d02;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.category-actions button{
    padding: 0;
}


.category-form{
    display: grid;
    height: 200;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    padding: auto;
    justify-content: center;

  }
  
  .category-form>div{
   height: 70px !important;
  }

.modal-button{
    float: right;
    /* margin: 10px !important; */
}