.sidenav {
    top: 500px;
    width: 200px;
    transition: width 0.3s none;
    height: 100vh;
    padding-top: 28px;
    background-color: rgb(1, 53, 1);
}

.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s none;
    width: 60px;
}

.sidenavClosed .sideitem {
    font-size: 2px;
}

.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    overflow: hidden;
}


.linkText {
    padding-left: 16px;
}

.sideitem:hover {
    background-color: #37eb701c;

}

.menuBtn {

    align-self: flex-start !important;
    justify-self: flex-start !important;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}