
.supplier-actions{
    width: 910px;
    display: grid !important;
    grid-template-columns: auto 70px;
    justify-content: space-between;
    align-content: space-around;
    grid-row-gap: 20px;
    border: 1px solid #153d02;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.supplier-actions button{
    padding: 0;
}


.supplier-form{
    display: grid;
    height: 200;
    grid-template-rows: 1fr 1.7fr 1fr 1fr;
    grid-template-columns: auto;
    padding: auto;
    justify-content: center;

}


.supplier-form>div{
    height: 70px !important;
}


.modal-button{
    /* float: right !important; */
    /* margin: 10px !important; */
    margin-right: 10px;
}

.button-div{
    float: right !important;
}