body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: grid;
}

.flex-box {
  display: flex;
  /* background: #153D02; */

}

main {
  padding-top: 50px;
  padding-left: 20px;
  background: #E6ece6;
  /* position: absolute; */
  width: 100%;
  height: 100%;
}

